body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.movie-card {
  display: flex;
}

.movie-card * {
  flex : 0 0 25%;
}

.rating img{
  width: 20px;  
}
